* text=auto eol=lf

*.cs text eol=lf
*.csproj text eol=lf
*.props text eol=lf
*.targets text eol=lf
*.godot text eol=lf
*.cfg text eol=lf
*.tscn text eol=lf
*.tres text eol=lf
*.gd text eol=lf
*.gdshader text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ps1 text eol=lf
*.py text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.xml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.webp binary
*.ico binary
*.zip binary
*.dll binary
*.pdb binary
